<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="unknown"/>
    <property name="log.path" value="logs" />
    <property name="log.filenamePrefix" value="saas-${serviceName}" />
    <property name="log.charset" value="UTF-8" />
    <timestamp key="byDay" datePattern="yyyy-MM-dd"/>

    <property name="log.consolePattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%5level) %magenta(%5(${PID:- })) %cyan(%-22X{requestId:-master}) %property{serviceName} --- [%15.15thread] %cyan(%-46.46logger{46}) : %msg%n" />
    <property name="log.filePattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5level %5(${PID:- }) %-22X{requestId:-master} %property{serviceName} --- [%15.15thread] %-46.46logger{46} : %msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.consolePattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <appender name="combineFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}/${log.filenamePrefix}-${byDay}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.filenamePrefix}-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>256MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${log.filePattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${log.filenamePrefix}-error-${byDay}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/${log.filenamePrefix}-error-%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <maxFileSize>256MB</maxFileSize>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${log.filePattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="combineFile" />
        <appender-ref ref="errorFile" />
    </root>

    <!-- 测试环境+开发环境. -->
    <springProfile name="test,dev">
        <logger name="com.xchs" level="DEBUG" />
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="com.xchs" level="INFO"/>
    </springProfile>
</configuration>